@import url('https://fonts.googleapis.com/css?family=Passion+One');

.frame {
  font-family: 'Passion One', cursive;
  font-size: 20px;
  color: black;
  padding: 20px;
  text-align: center;
}
nav {
  font-family: 'Passion One', cursive;
  font-size: 20px;
}
