@import url('https://fonts.googleapis.com/css?family=Passion+One');

.frame {
  font-family: 'Passion One', cursive;
  font-size: 20px;
  color: black;
  padding: 20px;
  text-align: center;
}
nav {
  font-family: 'Passion One', cursive;
  font-size: 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
}
h3{
  text-align: center;
}
